*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
    color: aliceblue;
    background-color: #b91a64;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

}

.container{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px;
    border: none;
}

.container .tenor-gif-embed
{
    max-width: 400px;
}

button
{
    background-color: aliceblue;
    color: #460725;
    border: #751341;
    height:75px;
    width: 200px;
    border-radius: 100px;
    cursor: pointer;
    font-size: 20px;
    font-weight:bolder;
    transition: 0.5s;
}
button:hover {
color: aliceblue;
background-color: #460725;
}